:root {
  --primary-color: #ecc74d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #ababab; */
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  padding: 15px;
}

header > h1 {
  text-transform: uppercase;
  margin: 10px 0;
}

header > div {
  margin: 8px 0;
}

header > div > a > button.btn-back {
  background-color: #e4e4e4;
  border: none;
}

header > div > a > button > img {
  width: 30px;
  height: 30px;
}

header > div:nth-child(3) > button {
  margin: 0 8px;
}

section.section-note {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  margin: 20px;
}

section.section-note > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  margin: 10px;
  border-radius: 10px;
}
