:root {
  --primary-color: #ecc74d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button.btn-primary {
  background-color: #1a3993;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 15px;
}

header > h1 {
  text-transform: uppercase;
  margin: 10px 0;
}

header > div {
  margin: 8px 0;
}

header > div > a > button.btn-back {
  background-color: #e4e4e4;
  border: none;
}

header > div > a > button > img {
  width: 30px;
  height: 30px;
}

header > div:nth-child(3) > button {
  margin: 0 8px;
}

section.list-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 60px;
}
