:root {
  --primary-color: #ecc74d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button.btn-primary {
  background-color: #1a3993;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 15px;
}

header > h1 {
  text-transform: uppercase;
}

header > div > button {
}

header > div > a > button.btn-back {
  background-color: #4d0303bb;
}

section.list-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 60px;
}
