* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ababab; /* delete; */
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 15px;
}

header > h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

header > div > button {
  width: 9rem;
  margin: 0 10px;
}
