:root {
  --primary-color: #ecc74d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button.btn-primary {
  background-color: #1a3993;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 15px;
}

header > h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

header > div > button {
  width: 9rem;
  margin: 0 10px;
}

header > div > button.btn-secondary {
  background-color: #373636;
}

section.create-note {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  width: 70vw;
  margin: 15px auto;
  padding: 15px;

  background-color: #e8e2e2;
  border-radius: 20px;
}
section.create-note:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

section.create-note > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

section.create-note > div:nth-child(2) > div > label {
  margin-left: 5px;
}

section.create-note > div:nth-child(2) > button {
  margin-top: 10px;
}

section.list-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 60px;
}

section.list-notes > div.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  width: 70vw;
  margin: 15px auto;
  padding: 15px;

  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section.list-notes > div > div > p {
  text-align: justify;
}

section.list-notes > div > div > div {
  margin-top: 20px;
  text-align: right;
}

section.list-notes > div > div > div a {
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}
section.list-notes > div > div > div > a:hover {
  text-decoration: underline;
}

section.list-notes > div > div > div > a.btn-more {
  color: #29362c;
}

section.list-notes > div > div > div > a.btn-delete {
  color: #ec2323;
}

section.list-notes > div > div > p.txt-time {
  font-size: 0.8rem;
  text-align: left;
  text-transform: lowercase;
}

@media (min-width: 768px) {
  body {
    padding: 50px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header > div > button {
    width: 12rem;
  }

  section.create-note {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px;
    width: 60vw;
    margin-top: 20px;
  }

  section.create-note > div:nth-child(2) {
    margin-left: 50px;
  }

  section.create-note > div:nth-child(2) > button {
    margin-top: 20px;
    margin-left: 20px;
  }

  section.list-notes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  section.list-notes > div {
    width: 30vw;
    margin: 15px;
  }
}

/* media query min 1024 */
@media (min-width: 1024px) {
  body {
    padding: 50px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header > div > button {
    width: 12rem;
  }

  section.create-note {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px;
    width: 45vw;
    margin-top: 20px;
  }

  section.create-note > div:nth-child(2) {
    margin-left: 50px;
  }

  section.create-note > div:nth-child(2) > button {
    margin-top: 20px;
    margin-left: 20px;
  }

  section.list-notes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  section.list-notes > div.card {
    width: 20vw !important;
    margin: 15px;
  }
}
