:root {
  --primary-color: #f0bd13;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #ababab; */
}

button.btn-primary {
  background-color: #1a3993;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 15px;
}

header > h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

header > div > button {
  width: 9rem;
  margin: 0 10px;
}

header > div > button.btn-secondary {
  background-color: #373636;
}

section.create-note {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  width: 70vw;
  margin: 15px auto;
  padding: 15px;

  background-color: #d7d7d7;
  border-radius: 20px;
}

section.create-note > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

section.create-note > div:nth-child(2) > div > label {
  margin-left: 5px;
}

section.create-note > div:nth-child(2) > button {
  margin-top: 10px;
}

section.list-notes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  margin: 15px;
}

section.list-notes > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  width: 70vw;
  margin: 15px auto;
  padding: 15px;

  background-color: var(--primary-color);
  border-radius: 12px;
}

section.list-notes > div > div > p {
  text-align: justify;
}

section.list-notes > div > div > a {
  text-decoration: none;
  font-weight: bold;
}

section.list-notes > div > div > a.btn-archive {
  color: #29362c;
}

section.list-notes > div > div > a.btn-delete {
  color: #ec2323;
}

section.list-notes > div > div > h6 {
  font-size: 0.8rem;
  text-align: right;
  text-transform: lowercase;
}
